.App {
  padding: 0;
  margin: 0;

}

.App-header {
  background-color: cornsilk;
  display: flex;
  flex-direction: column;
  align-items: flex-start;         
  color: black;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.Text-header {
  background-color: cornsilk;
  display: flex;
  flex-direction: row;
  align-items: flex-start;         
  justify-content: space-between; 
  font-size: 18px;
  color: black;
  width: 100%;
  box-sizing: border-box;
}

.text-block {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.calendar-label {
  align-self: center; 
}

h1, p {
  margin: 0;
  width: 100%
}

.field-block {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.content {
  padding: 20px;
  font-size: 13px;
}

@media (max-width: 600px) {
  .field-block {
    gap: 15px;
    flex-direction: column;
  }

  .calendar-label {
    display: none;
  }
}
