ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 12px; 
}

li {
  margin: 0;
}

.card {
  background-color: rgba(250, 235, 215, 0.286);
  padding: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.holiday-details {
  display: flex;
  flex-direction: column;
}

.country {
  align-self: center;
}

