.custom-picker {
    width: 40%;
    min-width: 200px;
    padding: 15px;
    padding-right: 40px; 
    border-width: 3px;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 0.5rem;
    appearance: none;     
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2210%22%20height%3D%226%22%20viewBox%3D%220%200%2010%206%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M0%200l5%206%205-6H0z%22%20fill%3D%22%23666%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
  }
  