body, html {
  margin: 0;
  padding: 0;
  height: 100%; 
}

#root {
  height: 100%;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 40px;
  flex-direction: column;
}
